<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{101,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{101,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{201,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{201,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{301,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{301,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{401,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{401,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{501,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{501,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{601,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{601,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{701,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{701,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{801,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{901,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{801,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{901,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>avatar.png</string>
            <key>size</key>
            <string>{1000,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf57ec972e8cc971b3ddd577abc4b0c:7c2950fcdcabb58ebd9b3c19790074fa:db3594e7e80887c479b4f04a5ee0989e$</string>
            <key>textureFileName</key>
            <string>avatar.png</string>
        </dict>
    </dict>
</plist>
