<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alathapnhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,36}</string>
                <key>spriteSourceSize</key>
                <string>{211,36}</string>
                <key>textureRect</key>
                <string>{{599,752},{211,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bocbai-caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{208,272}</string>
                <key>textureRect</key>
                <string>{{1,640},{208,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,637}</string>
                <key>spriteSourceSize</key>
                <string>{1001,637}</string>
                <key>textureRect</key>
                <string>{{1,1},{1001,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_closeBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{531,794},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_coinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{559,752},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,172}</string>
                <key>textureRect</key>
                <string>{{211,640},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_historyBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{745,640},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_history_lastCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,48}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{783,863},{39,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_kingCard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{739,863},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_kingCard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{687,640},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_nextButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{158,110}</string>
                <key>textureRect</key>
                <string>{{211,798},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_nextButton_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{158,110}</string>
                <key>textureRect</key>
                <string>{{371,798},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_startButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{158,110}</string>
                <key>textureRect</key>
                <string>{{527,640},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_tutorialBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{745,692},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{174,172}</string>
                <key>textureRect</key>
                <string>{{369,640},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>klacaonhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,31}</string>
                <key>spriteSourceSize</key>
                <string>{206,31}</string>
                <key>textureRect</key>
                <string>{{531,870},{206,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{202,71}</string>
                <key>spriteSourceSize</key>
                <string>{210,85}</string>
                <key>textureRect</key>
                <string>{{608,790},{202,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{527,752},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CaoThap.png</string>
            <key>size</key>
            <string>{1003,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feb42c7bc3cb248072542ba23b7e0629:91444d01caae6382a2f1ce3179da200f:13d0f2017af527b106a08d98d6a7a24f$</string>
            <key>textureFileName</key>
            <string>CaoThap.png</string>
        </dict>
    </dict>
</plist>
