<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bocbai-caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{208,272}</string>
                <key>textureRect</key>
                <string>{{1,655},{208,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,652}</string>
                <key>spriteSourceSize</key>
                <string>{1001,652}</string>
                <key>textureRect</key>
                <string>{{1,1},{1001,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_closeBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{881,811},{75,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_coinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{506,836},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,153}</string>
                <key>spriteSourceSize</key>
                <string>{154,153}</string>
                <key>textureRect</key>
                <string>{{677,655},{154,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_historyBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{275,836},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_history_lastCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{465,836},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_kingCard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{381,836},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_kingCard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{423,836},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_nextButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,132}</string>
                <key>spriteSourceSize</key>
                <string>{179,132}</string>
                <key>textureRect</key>
                <string>{{275,655},{179,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_nextButton_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,132}</string>
                <key>spriteSourceSize</key>
                <string>{179,132}</string>
                <key>textureRect</key>
                <string>{{409,655},{179,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_startButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,132}</string>
                <key>spriteSourceSize</key>
                <string>{179,132}</string>
                <key>textureRect</key>
                <string>{{543,655},{179,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_tutorialBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{328,836},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caothap_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,153}</string>
                <key>spriteSourceSize</key>
                <string>{154,153}</string>
                <key>textureRect</key>
                <string>{{832,655},{154,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luotmoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{202,71}</string>
                <key>spriteSourceSize</key>
                <string>{210,85}</string>
                <key>textureRect</key>
                <string>{{677,811},{202,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{543,836},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CaoThap.png</string>
            <key>size</key>
            <string>{1003,887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b506707b06cc47a90041014d66a0fbc9:95802dfa64d991014c78c3dfb7030b80:13d0f2017af527b106a08d98d6a7a24f$</string>
            <key>textureFileName</key>
            <string>CaoThap.png</string>
        </dict>
    </dict>
</plist>
