<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>10c.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>10r.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>10t.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>11b.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,529},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>11c.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,654},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>11r.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,779},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>11t.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>12b.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>12c.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>12r.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>12t.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,502},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>13b.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,627},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>13c.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,752},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>13r.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,877},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>13t.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>1r.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>1t.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,502},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,627},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,752},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>2r.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,877},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>2t.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>3r.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>3t.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,502},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,627},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,752},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>4r.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,877},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>4t.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>5r.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>5t.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>6c.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>6r.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>6t.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>7c.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>7r.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>7t.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>8c.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>8r.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>8t.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>9c.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,252},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>9r.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>9t.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>boder_do.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,126}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>boder_vang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,126}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>boder_xanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,126}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>card-black.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,377},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,120}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>card-dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,502},{26,25}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{26,25}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>card-motion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>card-motion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>card-motion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>card-motion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>gp_card_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,377},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df356496740948ba80341e558e306823:2d167102f3c78a26edede32a6282f830:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
