<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{93,320},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{93,437},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{93,554},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{93,671},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{99,788},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{115,905},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{183,320},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{191,188},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{249,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{183,437},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{183,554},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{183,671},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{189,788},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{205,905},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{273,305},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{281,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{339,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{273,422},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{273,539},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{273,656},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{279,773},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{295,890},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{363,235},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{371,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{429,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{363,352},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{363,469},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{363,586},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{369,703},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{385,820},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{453,235},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{461,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{519,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{453,352},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{453,469},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{453,586},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{459,703},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{475,820},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{609,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{699,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{789,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{879,1},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{543,235},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{551,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{543,352},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{543,469},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{543,586},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{549,703},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{565,820},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{655,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{745,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{835,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{1,806},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{93,190},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_xanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{151,1},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{925,118},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{196,131},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-motion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,152}</string>
                <key>spriteSourceSize</key>
                <string>{90,152}</string>
                <key>textureRect</key>
                <string>{{1,190},{90,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-motion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,152}</string>
                <key>spriteSourceSize</key>
                <string>{90,152}</string>
                <key>textureRect</key>
                <string>{{1,344},{90,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-motion3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,152}</string>
                <key>spriteSourceSize</key>
                <string>{90,152}</string>
                <key>textureRect</key>
                <string>{{1,498},{90,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-motion4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,152}</string>
                <key>spriteSourceSize</key>
                <string>{90,152}</string>
                <key>textureRect</key>
                <string>{{1,652},{90,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_remain_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{62,936},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_remain_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{1,936},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,187}</string>
                <key>spriteSourceSize</key>
                <string>{148,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gp_card_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{655,235},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn_card_remain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,55}</string>
                <key>spriteSourceSize</key>
                <string>{43,55}</string>
                <key>textureRect</key>
                <string>{{151,131},{43,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e4a9fb43a30b144eda0c31a43b247f:73cd162f415a14fed24a98a9743404cd:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
