<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10b.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>10c.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>10r.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>10t.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>11b.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>11c.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>11r.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,696},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>11t.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,580},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>12b.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>12c.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>12r.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>12t.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>13b.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>13c.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,696},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>13r.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,580},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>13t.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>1r.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,696},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,580},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>2r.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>3c.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>3r.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,696},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>4b.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,580},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>4c.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>4r.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,420},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>5c.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>5r.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,696},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,580},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>6b.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>6c.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>6r.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>7b.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>7c.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,696},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>7r.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,580},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>7t.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,464},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>8b.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,348},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>8c.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,232},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>8r.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>8t.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,116},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>9b.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,768},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>9c.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,652},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>9r.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,536},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>9t.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>boder_do.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{94,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{94,126}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>

			<key>boder_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{94,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{94,126}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>

			<key>boder_xanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{94,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{94,126}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>

			<key>card-black.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,304},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

			<key>card-dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,536},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>card-motion1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,722},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,152}}</string>
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>

			<key>card-motion2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,722},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,152}}</string>
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>

			<key>card-motion3.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,569},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,152}}</string>
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>

			<key>card-motion4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,569},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,152}}</string>
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>

			<key>card_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{148,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,187}}</string>
				<key>sourceSize</key>
				<string>{148,187}</string>
			</dict>

			<key>gp_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,188},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{894,884}</string>
			<key>textureFileName</key>
			<string>Card.png</string>
			</dict>
		</dict>
</plist>