<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,80}</string>
                <key>spriteSourceSize</key>
                <string>{520,80}</string>
                <key>textureRect</key>
                <string>{{360,325},{520,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activiti_tab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,60}</string>
                <key>spriteSourceSize</key>
                <string>{222,60}</string>
                <key>textureRect</key>
                <string>{{633,520},{222,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_backBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{901,495},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{335,686},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_button_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,42}</string>
                <key>spriteSourceSize</key>
                <string>{140,42}</string>
                <key>textureRect</key>
                <string>{{685,694},{140,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{467,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_cell_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{493,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{519,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>agency_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,150}</string>
                <key>spriteSourceSize</key>
                <string>{520,150}</string>
                <key>textureRect</key>
                <string>{{360,173},{520,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,357}</string>
                <key>spriteSourceSize</key>
                <string>{357,357}</string>
                <key>textureRect</key>
                <string>{{1,173},{357,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_close_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,62}</string>
                <key>spriteSourceSize</key>
                <string>{92,62}</string>
                <key>textureRect</key>
                <string>{{653,738},{92,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contactDial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{653,802},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contactFacebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{747,738},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialob-invite-bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{901,527},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialob-invite-bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{882,246},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,310}</string>
                <key>spriteSourceSize</key>
                <string>{244,310}</string>
                <key>textureRect</key>
                <string>{{1,532},{244,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-button-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{545,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-button-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{571,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-button-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{910,1},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-cardList-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{910,23},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBox-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{335,724},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{857,539},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBoxCross-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{882,354},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBoxCross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{649,878},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-inviteAllBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,52}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{1,844},{182,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-inviteBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,52}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{185,844},{182,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-loading-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{247,532},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-message-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,90}</string>
                <key>spriteSourceSize</key>
                <string>{778,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{778,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-textinput-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{597,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{623,872},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_chat_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,60}</string>
                <key>spriteSourceSize</key>
                <string>{104,60}</string>
                <key>textureRect</key>
                <string>{{827,694},{104,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{373,686},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_incorrect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{341,758},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_toggle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{882,378},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_toggle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{869,678},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_AvatarDialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{869,64},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{341,786},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_defaultItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{882,156},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_used_padding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,72}</string>
                <key>spriteSourceSize</key>
                <string>{5,74}</string>
                <key>textureRect</key>
                <string>{{863,824},{5,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_caothu_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{360,407},{230,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_caothu_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,65}</string>
                <key>spriteSourceSize</key>
                <string>{92,65}</string>
                <key>textureRect</key>
                <string>{{247,774},{92,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_huthuong_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,109}</string>
                <key>spriteSourceSize</key>
                <string>{230,109}</string>
                <key>textureRect</key>
                <string>{{401,521},{230,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_huthuong_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{781,1},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_lichsu_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,111}</string>
                <key>spriteSourceSize</key>
                <string>{230,111}</string>
                <key>textureRect</key>
                <string>{{592,407},{230,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_lichsu_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{693,93},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_statistic_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,78}</string>
                <key>spriteSourceSize</key>
                <string>{690,78}</string>
                <key>textureRect</key>
                <string>{{1,93},{690,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-email-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{824,495},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-invite-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{247,686},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-invite-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{821,756},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-sound-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{781,64},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-sound-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{727,816},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-vibrator-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{824,407},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-vibrator-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{795,824},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{889,756},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,62}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{685,630},{182,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{889,800},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{869,110},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{882,276},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{341,812},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{882,302},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{882,328},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{869,630},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-level-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{870,844},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-level-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{857,495},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,18}</string>
                <key>spriteSourceSize</key>
                <string>{96,18}</string>
                <key>textureRect</key>
                <string>{{369,878},{96,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,46}</string>
                <key>spriteSourceSize</key>
                <string>{282,46}</string>
                <key>textureRect</key>
                <string>{{401,632},{282,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,46}</string>
                <key>spriteSourceSize</key>
                <string>{282,46}</string>
                <key>textureRect</key>
                <string>{{401,680},{282,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,46}</string>
                <key>spriteSourceSize</key>
                <string>{282,46}</string>
                <key>textureRect</key>
                <string>{{633,582},{282,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,46}</string>
                <key>spriteSourceSize</key>
                <string>{282,46}</string>
                <key>textureRect</key>
                <string>{{369,728},{282,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,46}</string>
                <key>spriteSourceSize</key>
                <string>{282,46}</string>
                <key>textureRect</key>
                <string>{{369,776},{282,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,46}</string>
                <key>spriteSourceSize</key>
                <string>{282,46}</string>
                <key>textureRect</key>
                <string>{{369,824},{282,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-vip-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{882,202},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{932,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a675fb8d11c94279d407609e63f157:36feae55723b31667b0f9a15a99318fe:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
