<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,80}</string>
                <key>spriteSourceSize</key>
                <string>{520,80}</string>
                <key>textureRect</key>
                <string>{{781,1},{520,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activiti_tab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,60}</string>
                <key>spriteSourceSize</key>
                <string>{222,60}</string>
                <key>textureRect</key>
                <string>{{1535,1},{222,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activity_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1547,367},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_button_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,35}</string>
                <key>spriteSourceSize</key>
                <string>{140,35}</string>
                <key>textureRect</key>
                <string>{{1547,225},{140,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>activity_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1297,486},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1323,486},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>agency_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,150}</string>
                <key>spriteSourceSize</key>
                <string>{520,150}</string>
                <key>textureRect</key>
                <string>{{1,173},{520,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,357}</string>
                <key>spriteSourceSize</key>
                <string>{357,357}</string>
                <key>textureRect</key>
                <string>{{781,83},{357,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_close_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,62}</string>
                <key>spriteSourceSize</key>
                <string>{92,62}</string>
                <key>textureRect</key>
                <string>{{1203,448},{92,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contactDial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1297,410},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contactFacebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{669,438},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialob-invite-bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1375,480},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialob-invite-bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{743,302},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-bg-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{1203,315},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{730,164},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1,325},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-button-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1349,486},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-button-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1506,189},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-button-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1550,490},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-cardList-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1572,490},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBox-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1407,480},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1471,471},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBoxCross-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1439,480},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-checkBoxCross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1506,112},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-inviteAllBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,52}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{509,384},{182,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-inviteBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,52}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{485,438},{182,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-loading-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{523,173},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-message-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,90}</string>
                <key>spriteSourceSize</key>
                <string>{778,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{778,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog-textinput-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{743,332},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{217,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_chat_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,60}</string>
                <key>spriteSourceSize</key>
                <string>{104,60}</string>
                <key>textureRect</key>
                <string>{{1097,444},{104,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1506,133},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_incorrect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1506,161},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_toggle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{373,485},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_toggle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{419,422},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_AvatarDialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{730,210},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{243,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_defaultItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{419,325},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inventory_used_padding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,72}</string>
                <key>spriteSourceSize</key>
                <string>{5,74}</string>
                <key>textureRect</key>
                <string>{{419,415},{5,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nav_caothu_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,112}</string>
                <key>textureRect</key>
                <string>{{1140,83},{230,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nav_caothu_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,65}</string>
                <key>spriteSourceSize</key>
                <string>{92,65}</string>
                <key>textureRect</key>
                <string>{{1203,381},{92,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_huthuong_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,109}</string>
                <key>spriteSourceSize</key>
                <string>{230,109}</string>
                <key>textureRect</key>
                <string>{{1303,1},{230,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_huthuong_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{127,61}</string>
                <key>textureRect</key>
                <string>{{1140,315},{127,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nav_lichsu_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,111}</string>
                <key>spriteSourceSize</key>
                <string>{230,111}</string>
                <key>textureRect</key>
                <string>{{187,325},{230,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_lichsu_inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{693,93},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_statistic_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,78}</string>
                <key>spriteSourceSize</key>
                <string>{690,78}</string>
                <key>textureRect</key>
                <string>{{1,93},{690,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result-icon-lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{150,51}</string>
                <key>spriteSourceSize</key>
                <string>{188,55}</string>
                <key>textureRect</key>
                <string>{{677,173},{150,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result-icon-win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,55}</string>
                <key>spriteSourceSize</key>
                <string>{188,55}</string>
                <key>textureRect</key>
                <string>{{509,327},{188,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-email-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{187,485},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-invite-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{747,442},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-invite-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{817,442},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-sound-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{887,442},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-sound-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{957,442},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-vibrator-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1027,442},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-vibrator-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1371,410},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1550,404},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,60}</string>
                <key>textureRect</key>
                <string>{{1485,225},{180,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_buy_sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{699,325},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{730,256},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{269,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{295,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{321,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tab_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{347,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1502,407},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-level-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1508,455},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-level-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1550,448},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,19}</string>
                <key>spriteSourceSize</key>
                <string>{103,19}</string>
                <key>textureRect</key>
                <string>{{1485,112},{103,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo-tab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,44}</string>
                <key>spriteSourceSize</key>
                <string>{296,44}</string>
                <key>textureRect</key>
                <string>{{1301,112},{296,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo-tab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,44}</string>
                <key>spriteSourceSize</key>
                <string>{296,44}</string>
                <key>textureRect</key>
                <string>{{1347,112},{296,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo-tab3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,45}</string>
                <key>spriteSourceSize</key>
                <string>{296,45}</string>
                <key>textureRect</key>
                <string>{{187,438},{296,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-tab4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,44}</string>
                <key>spriteSourceSize</key>
                <string>{296,44}</string>
                <key>textureRect</key>
                <string>{{1393,112},{296,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo-tab5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,44}</string>
                <key>spriteSourceSize</key>
                <string>{296,44}</string>
                <key>textureRect</key>
                <string>{{1439,112},{296,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo-tab6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,45}</string>
                <key>spriteSourceSize</key>
                <string>{296,45}</string>
                <key>textureRect</key>
                <string>{{1254,83},{296,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userinfo-vertify-successful.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{1441,410},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userinfo-vip-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{699,369},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1596,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0df36a5d56343e025671ab1d02d8ba7:1a16fdd898b9b1b178147ac016cb9e29:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
