<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog-bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{228,228}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>dialog-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,94},{244,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,308}}</string>
                <key>sourceSize</key>
                <string>{244,310}</string>
            </dict>
            <key>dialog-button-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,94},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>dialog-button-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,120},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>dialog-button-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,352},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{28,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dialog-cardList-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>dialog-loading-spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>dialog-message-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{778,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,90}}</string>
                <key>sourceSize</key>
                <string>{778,90}</string>
            </dict>
            <key>dialog-textinput-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,359},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>setting-help-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,230},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>setting-invite-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,285},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>setting-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,187},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,46}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>setting-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,235},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,46}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>setting-sound-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,340},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>setting-vibrator-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,235},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>userinfo-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,187},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>userinfo-goldIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,166},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>userinfo-level-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,386},{180,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,8}}</string>
                <key>sourceSize</key>
                <string>{180,10}</string>
            </dict>
            <key>userinfo-level-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,381},{182,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,10}}</string>
                <key>sourceSize</key>
                <string>{182,10}</string>
            </dict>
            <key>userinfo-logout-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,156},{142,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{142,29}}</string>
                <key>sourceSize</key>
                <string>{178,67}</string>
            </dict>
            <key>userinfo-logout-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,290},{178,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,67}}</string>
                <key>sourceSize</key>
                <string>{178,67}</string>
            </dict>
            <key>userinfo-tab-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,156},{240,88}}</string>
                <key>offset</key>
                <string>{87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,6},{240,88}}</string>
                <key>sourceSize</key>
                <string>{500,100}</string>
            </dict>
            <key>userinfo-tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,352},{183,32}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{183,32}}</string>
                <key>sourceSize</key>
                <string>{293,70}</string>
            </dict>
            <key>userinfo-tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,280},{221,70}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,70}}</string>
                <key>sourceSize</key>
                <string>{293,70}</string>
            </dict>
            <key>userinfo-tab3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,246},{255,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{255,32}}</string>
                <key>sourceSize</key>
                <string>{293,70}</string>
            </dict>
            <key>userinfo-tab4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{293,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,70}}</string>
                <key>sourceSize</key>
                <string>{293,70}</string>
            </dict>
            <key>userinfo-tab5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,359},{173,20}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,76},{173,20}}</string>
                <key>sourceSize</key>
                <string>{293,114}</string>
            </dict>
            <key>userinfo-tab6.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,94},{209,56}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,58},{209,56}}</string>
                <key>sourceSize</key>
                <string>{293,114}</string>
            </dict>
            <key>userinfo-vip-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,393},{180,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,8}}</string>
                <key>sourceSize</key>
                <string>{180,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{959,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a1b5e1ff5e8bcee2ee036e63dbdc900:40b651eb7ade49ef9c624a863ae90de8:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
