<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nohu_fr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{394,388}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{447,1385},{394,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nohu_fr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-34}</string>
                <key>spriteSize</key>
                <string>{792,642}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{447,591},{792,642}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nohu_fr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-66}</string>
                <key>spriteSize</key>
                <string>{1094,588}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1094,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nohu_fr4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-138}</string>
                <key>spriteSize</key>
                <string>{1280,444}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,591},{1280,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effectMini.png</string>
            <key>size</key>
            <string>{1096,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb3d54716783a99c40e4576cc5e6ef3:5f474898da5e7be64e07c3f566c4d2ab:b9c1bb8cdb873c95b2bbef2b19c8a971$</string>
            <key>textureFileName</key>
            <string>effectMini.png</string>
        </dict>
    </dict>
</plist>
