<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotion_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>emotion.png</string>
            <key>size</key>
            <string>{56,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b26a1922aec35a2a7474ddeec2ef781d:63a183cb77dccfa199169e4f3abe0e5d:0dcb9c48a61cdc7e457cf2fb5a873dd0$</string>
            <key>textureFileName</key>
            <string>emotion.png</string>
        </dict>
    </dict>
</plist>
