<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floatBt-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{131,381},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{228,381},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{381,257},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{95,97}</string>
                <key>textureRect</key>
                <string>{{325,381},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,381},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floatBt-hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{253,254}</string>
                <key>textureRect</key>
                <string>{{422,355},{133,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatbt-show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,254}</string>
                <key>spriteSourceSize</key>
                <string>{253,254}</string>
                <key>textureRect</key>
                <string>{{381,1},{253,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FloatButton.png</string>
            <key>size</key>
            <string>{635,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f65c1d36367fda9ebd077fc5754b52f:a336e067017b78f15ae9bd81f333f138:8cd5d5a3633d7f2a3323ac799373e321$</string>
            <key>textureFileName</key>
            <string>FloatButton.png</string>
        </dict>
    </dict>
</plist>
