<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floatBt-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,377}</string>
                <key>spriteSourceSize</key>
                <string>{378,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{378,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{302,380},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{302,640},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{302,840},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{302,740},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{302,510},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,299}</string>
                <key>spriteSourceSize</key>
                <string>{299,299}</string>
                <key>textureRect</key>
                <string>{{1,380},{299,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatbt-show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,299}</string>
                <key>spriteSourceSize</key>
                <string>{299,299}</string>
                <key>textureRect</key>
                <string>{{1,681},{299,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FloatButton.png</string>
            <key>size</key>
            <string>{431,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f92de2949e77ce1ed37ae8cd60e0ea8:549ef5dc335e5203f97d18c3697a2ef0:8cd5d5a3633d7f2a3323ac799373e321$</string>
            <key>textureFileName</key>
            <string>FloatButton.png</string>
        </dict>
    </dict>
</plist>
