<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floatBt-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,306}</string>
                <key>spriteSourceSize</key>
                <string>{307,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floatBt-game-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{391,142},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{391,221},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{309,223},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{388,300},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-game-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{309,302},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floatBt-hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{139,140}</string>
                <key>textureRect</key>
                <string>{{309,142},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floatbt-show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,140}</string>
                <key>spriteSourceSize</key>
                <string>{139,140}</string>
                <key>textureRect</key>
                <string>{{309,1},{139,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FloatButton.png</string>
            <key>size</key>
            <string>{469,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ca4b6f9950374059dfef1159baf89e:3d1a3e9d7a5ddf98af0b9a42ff8752b5:8cd5d5a3633d7f2a3323ac799373e321$</string>
            <key>textureFileName</key>
            <string>FloatButton.png</string>
        </dict>
    </dict>
</plist>
