<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby-game0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game12.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,154},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,154},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,306},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,306},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,458},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-game9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,458},{212,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,150}}</string>
                <key>sourceSize</key>
                <string>{212,150}</string>
            </dict>
            <key>lobby-minigame12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,610},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>lobby-minigame13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,610},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>lobby-minigame14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,610},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameList.png</string>
            <key>size</key>
            <string>{644,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cc768cb11a88dfcba673c9ac665bbdf:e7a6ceb49120e8c2f41f16c518b4dbe3:8520d2d238a2c15139d5f3d9d51f1820$</string>
            <key>textureFileName</key>
            <string>GameList.png</string>
        </dict>
    </dict>
</plist>
