<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game-boluotBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{184,72}</string>
            </dict>
            <key>game-danhbaiBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{184,72}</string>
            </dict>
            <key>game-startBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{184,72}</string>
            </dict>
            <key>game-xepbaiBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,2},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{184,72}</string>
            </dict>
            <key>ingame-backBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{100,100}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>ingame-chatBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ingame-goldIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ingame-historyBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ingame-playerBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ingame-rankBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{100,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>ingame-settingBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{100,100}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>ingame-tutorialBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{100,100}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>ingame_inviteBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>player-progress-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>player-progress-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{82,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>player-progress-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,86},{312,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,20}}</string>
                <key>sourceSize</key>
                <string>{312,20}</string>
            </dict>
            <key>tlmn_card_remain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,66},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{1705,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f68661c86cbfc22a10e9364390a036c:80239e035d1cc5dddaebfc4715d776ec:865db70d33f6fd1c3bd18ff13c48b0ed$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
