<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minigame-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,152},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>minigame-chip-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,356},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>minigame-chip-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,356},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>minigame-chip-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,355},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>minigame-chipSelected-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>minigame-chipSelected-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>minigame-chipSelected-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>minigame-highBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{148,148}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>minigame-kingCard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{48,63}}</string>
                <key>sourceSize</key>
                <string>{132,147}</string>
            </dict>
            <key>minigame-kingCard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,206},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,147}}</string>
                <key>sourceSize</key>
                <string>{132,147}</string>
            </dict>
            <key>minigame-lowBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{148,148}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamemini.png</string>
            <key>size</key>
            <string>{572,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2648e193c7300037d350dca1b32ce60:567877f06f2a6e088812e5dc3bf16539:3710e9591dd0391354ae62d7c976e04e$</string>
            <key>textureFileName</key>
            <string>gamemini.png</string>
        </dict>
    </dict>
</plist>
