<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game-backBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,193},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>game-bar-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,396},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>game-bottom-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{720,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,184}}</string>
                <key>sourceSize</key>
                <string>{720,184}</string>
            </dict>
            <key>game-level-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{201,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,27}}</string>
                <key>sourceSize</key>
                <string>{201,27}</string>
            </dict>
            <key>game-paymentBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,448},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game-settingBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>game-start-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,382},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>game-start-icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,425},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>game-userinfo-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,206}}</string>
                <key>sourceSize</key>
                <string>{720,206}</string>
            </dict>
            <key>minigame-chip-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,193},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>minigame-chip-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,316},{117,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>minigame-chip-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,382},{117,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>minigame-chipSelected-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{188,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,189}}</string>
                <key>sourceSize</key>
                <string>{188,189}</string>
            </dict>
            <key>minigame-chipSelected-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>minigame-chipSelected-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamemini.png</string>
            <key>size</key>
            <string>{1104,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe85cc2844eb40598a170133f2d54da7:b3e4b4aadf1ca33080e343da86cc5825:3710e9591dd0391354ae62d7c976e04e$</string>
            <key>textureFileName</key>
            <string>gamemini.png</string>
        </dict>
    </dict>
</plist>
