<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacayhuthuong_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{460,47},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-allinBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,60}</string>
                <key>spriteSourceSize</key>
                <string>{175,60}</string>
                <key>textureRect</key>
                <string>{{1,117},{175,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-anbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{1,427},{148,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-baosamBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{1,485},{148,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-bocbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{1,543},{148,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-boluotBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,56}</string>
                <key>textureRect</key>
                <string>{{315,1},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-callBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,60}</string>
                <key>spriteSourceSize</key>
                <string>{175,60}</string>
                <key>textureRect</key>
                <string>{{1,179},{175,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-checkBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,60}</string>
                <key>spriteSourceSize</key>
                <string>{175,60}</string>
                <key>textureRect</key>
                <string>{{1,241},{175,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-danhbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,56}</string>
                <key>textureRect</key>
                <string>{{307,59},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-foldBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,60}</string>
                <key>spriteSourceSize</key>
                <string>{175,60}</string>
                <key>textureRect</key>
                <string>{{1,303},{175,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-guibaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{178,127},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-habaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{178,277},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-huysamBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{151,427},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-lathetBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{236,127},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-raiseBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,60}</string>
                <key>spriteSourceSize</key>
                <string>{175,60}</string>
                <key>textureRect</key>
                <string>{{1,365},{175,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-sitDownBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{236,277},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-startBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,56}</string>
                <key>textureRect</key>
                <string>{{294,127},{143,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-uBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{209,427},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-xepbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,56}</string>
                <key>textureRect</key>
                <string>{{294,272},{143,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-xongBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{267,427},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_owner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{452,83},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-backBt-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{325,514},{63,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame-backBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{352,207},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-chat-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{460,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-chatBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{429,207},{75,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-goldIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{442,117},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-historyBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{429,378},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-playerBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{416,534},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-rankBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{203,23},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-settingBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{352,304},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-tutorialBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{325,417},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_inviteBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{416,452},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_bg_text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{1,23},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_bg_text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{1,70},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-progress-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{352,117},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-progress-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{429,302},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-progress-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,20}</string>
                <key>spriteSourceSize</key>
                <string>{312,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{507,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f727141e4260eff637979bc68a06439:0802f5b21f7996663a35628ee946db71:91bea184c78ddb84bd9c500391f1a3f2$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
