<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby-game0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,225}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{561,244},{262,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{1,244},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{1,244},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{222,173}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{281,730},{222,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{222,173}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{561,471},{222,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{281,1},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{1,487},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{281,244},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{220,163}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{505,821},{220,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{561,1},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{222,173}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{561,646},{222,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{1,730},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{281,487},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{785,471},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{785,471},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{785,563},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{785,653},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameList.png</string>
            <key>size</key>
            <string>{870,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a69f74a8d60d293cd816bdc016083bb:6e082be2ab46ac0697ef79eacb336f70:8520d2d238a2c15139d5f3d9d51f1820$</string>
            <key>textureFileName</key>
            <string>GameList.png</string>
        </dict>
    </dict>
</plist>
