<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby-game0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,182}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{1,785},{212,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{215,785},{180,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{215,927},{180,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{215,927},{180,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{1,197},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{227,197},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{1,393},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{178,132}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{183,1069},{178,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{227,393},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{1,969},{180,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{1,589},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-game9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{224,194}</string>
                <key>textureRect</key>
                <string>{{227,589},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{363,1069},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{363,1069},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{1,1111},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-minigame15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{87,1111},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameList.png</string>
            <key>size</key>
            <string>{452,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c712b77e31e35796a7ff9e4ae020a6f1:55e06dc100586d71acdadf353130597e:8520d2d238a2c15139d5f3d9d51f1820$</string>
            <key>textureFileName</key>
            <string>GameList.png</string>
        </dict>
    </dict>
</plist>
