<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacayhuthuong_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{204,1135},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-allinBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{203,1},{175,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-anbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,95},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-baosamBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,147},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-bocbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,199},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-boluotBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,251},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-callBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,303},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-checkBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,355},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-danhbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,407},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-foldBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,459},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-guibaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{200,178},{175,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-habaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,511},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-huysamBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,563},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-lathetBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,615},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-raiseBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,667},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-sitDownBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,56}</string>
                <key>textureRect</key>
                <string>{{1,1045},{148,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-startBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,719},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-uBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,771},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-xepbaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,823},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-xongBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,875},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_owner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{204,1171},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-backBt-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,81}</string>
                <key>spriteSourceSize</key>
                <string>{60,81}</string>
                <key>textureRect</key>
                <string>{{178,879},{60,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-backBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,81}</string>
                <key>spriteSourceSize</key>
                <string>{60,81}</string>
                <key>textureRect</key>
                <string>{{178,962},{60,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-chat-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{200,355},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-chatBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{60,83}</string>
                <key>textureRect</key>
                <string>{{178,709},{60,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-goldIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{178,645},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-historyBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{178,485},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-playerBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{142,1135},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-rankBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{59,1031},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-settingBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{60,83}</string>
                <key>textureRect</key>
                <string>{{178,794},{60,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame-tutorialBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{178,559},{68,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_inviteBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{59,1135},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_bg_text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_bg_text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,45}</string>
                <key>spriteSourceSize</key>
                <string>{200,45}</string>
                <key>textureRect</key>
                <string>{{1,48},{200,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_btnXepLai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,927},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_btnXepNhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,979},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_btnXepXong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{1,875},{175,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-progress-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{163,1045},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-progress-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{178,409},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-progress-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,20}</string>
                <key>spriteSourceSize</key>
                <string>{312,20}</string>
                <key>textureRect</key>
                <string>{{178,95},{312,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{254,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:778e83b1276cc5b145457500596fe8e3:e6b46269b1e0bc991f4ae1b133ddddf9:865db70d33f6fd1c3bd18ff13c48b0ed$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
