<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home-backBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{104,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>home-bar-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,148},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>home-bg-bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,209},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>home-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,402},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>home-callBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,240},{94,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{94,98}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>home-checkBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,201},{44,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{44,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>home-checkCross.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{40,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{40,28}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>home-game-tab1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,334},{124,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{124,96}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>home-game-tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,201},{66,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{66,60}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>home-game-tab2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,236},{136,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{136,96}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>home-game-tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,300},{100,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{100,58}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>home-game-tab3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,263},{148,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{148,100}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>home-game-tab3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,236},{112,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{112,62}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>home-game-tab4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,263},{144,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{144,100}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>home-game-tab4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,131},{108,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{108,62}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>home-game-tab5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,283},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{124,102}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>home-game-tab5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,127},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{76,66}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
            <key>home-gameNav-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{924,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{924,60}}</string>
                <key>sourceSize</key>
                <string>{924,108}</string>
            </dict>
            <key>home-gold-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,360},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>home-inboxBt-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,276},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-inboxBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,276},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-layer-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{232,232}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>home-level-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{184,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,12}}</string>
                <key>sourceSize</key>
                <string>{184,20}</string>
            </dict>
            <key>home-level-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,409},{184,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,12}}</string>
                <key>sourceSize</key>
                <string>{184,20}</string>
            </dict>
            <key>home-minigame-bar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,68},{282,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{282,57}}</string>
                <key>sourceSize</key>
                <string>{284,59}</string>
            </dict>
            <key>home-minigame-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,148},{284,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,59}}</string>
                <key>sourceSize</key>
                <string>{284,59}</string>
            </dict>
            <key>home-minigame-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,2},{24,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,388}}</string>
                <key>sourceSize</key>
                <string>{24,388}</string>
            </dict>
            <key>home-minigamebar-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,365},{64,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{64,23}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>home-minigamebar-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,68},{100,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,61}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>home-minigamebar-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,340},{78,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{78,23}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>home-minigamebar-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,365},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>home-minigamebar-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{92,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{92,23}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>home-minigamebar-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,365},{128,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,61}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>home-news-count.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,148},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>home-newsBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,108},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{104,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>home-paymentBt-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,261},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-paymentBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,350},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-play-bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,392},{124,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{124,38}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-rankBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,214},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{104,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>home-rewardBt-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,350},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-rewardBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,335},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-settingBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,320},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{104,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>home-signin-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,127},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-signin-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,210},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>home-signin.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,209},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-signup-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,283},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-signup-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,195},{150,43}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{150,43}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>home-signup.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,357},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>home-text-bg-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,195},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>home-text-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,360},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>home-top-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1284,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1284,144}}</string>
                <key>sourceSize</key>
                <string>{1284,144}</string>
            </dict>
            <key>home-vip-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{184,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,12}}</string>
                <key>sourceSize</key>
                <string>{184,20}</string>
            </dict>
            <key>lobby-room-select-cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{334,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,162}}</string>
                <key>sourceSize</key>
                <string>{334,162}</string>
            </dict>
            <key>login-okBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{384,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,64}}</string>
                <key>sourceSize</key>
                <string>{384,64}</string>
            </dict>
            <key>login-playBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,201},{148,60}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>signup-okBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,210},{384,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,64}}</string>
                <key>sourceSize</key>
                <string>{384,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{2040,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d92bdf201bd1fb5bfa59f5fd436902b6:e628387cd92a153bf9d5a29f036e46f0:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
