<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home-backBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1538,97},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-bar-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1680,421},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-bg-bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{86,68}</string>
                <key>textureRect</key>
                <string>{{578,261},{86,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1256,144},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-callBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1538,185},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-checkBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{336,266},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-checkCross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{538,369},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1444,234},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1160,366},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1226,368},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{98,56}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1430,388},{98,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{140,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1538,361},{140,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{198,266},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{948,240},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1052,366},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab5-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{1633,2},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-game-tab5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,96}</string>
                <key>textureRect</key>
                <string>{{578,331},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-gameNav-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{920,58}</string>
                <key>spriteSourceSize</key>
                <string>{920,104}</string>
                <key>textureRect</key>
                <string>{{2,144},{920,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-gold-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{860,297},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-inboxBt-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{1062,144},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-inboxBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{384,261},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-layer-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1284,2},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-level-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,10}</string>
                <key>spriteSourceSize</key>
                <string>{180,16}</string>
                <key>textureRect</key>
                <string>{{1062,216},{180,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-level-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,10}</string>
                <key>spriteSourceSize</key>
                <string>{180,16}</string>
                <key>textureRect</key>
                <string>{{666,204},{180,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigame-bar-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,55}</string>
                <key>spriteSourceSize</key>
                <string>{280,55}</string>
                <key>textureRect</key>
                <string>{{384,204},{280,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigame-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,55}</string>
                <key>spriteSourceSize</key>
                <string>{280,55}</string>
                <key>textureRect</key>
                <string>{{666,240},{280,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigame-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,384}</string>
                <key>spriteSourceSize</key>
                <string>{20,384}</string>
                <key>textureRect</key>
                <string>{{1516,2},{20,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigamebar-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{1444,342},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigamebar-1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,57}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{1330,368},{98,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigamebar-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,21}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{1633,72},{76,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigamebar-2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,57}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{538,397},{112,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigamebar-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,21}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{1052,428},{90,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-minigamebar-3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,57}</string>
                <key>spriteSourceSize</key>
                <string>{124,57}</string>
                <key>textureRect</key>
                <string>{{196,388},{124,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-news-count.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1444,298},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-newsBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1538,273},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-paymentBt-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{666,297},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-paymentBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{2,313},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-play-bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{122,36}</string>
                <key>spriteSourceSize</key>
                <string>{190,68}</string>
                <key>textureRect</key>
                <string>{{924,306},{122,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-rankBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1626,97},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-rewardBt-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{2,385},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-rewardBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{344,333},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-settingBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1626,185},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-shopBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1626,273},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-signin-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,68}</string>
                <key>spriteSourceSize</key>
                <string>{190,68}</string>
                <key>textureRect</key>
                <string>{{1060,296},{190,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-signin-text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,45}</string>
                <key>spriteSourceSize</key>
                <string>{194,45}</string>
                <key>textureRect</key>
                <string>{{2,266},{194,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-signin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,68}</string>
                <key>spriteSourceSize</key>
                <string>{190,68}</string>
                <key>textureRect</key>
                <string>{{860,361},{190,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-signup-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,68}</string>
                <key>spriteSourceSize</key>
                <string>{190,68}</string>
                <key>textureRect</key>
                <string>{{654,369},{190,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-signup-text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{148,39}</string>
                <key>spriteSourceSize</key>
                <string>{194,45}</string>
                <key>textureRect</key>
                <string>{{322,405},{148,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-signup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,68}</string>
                <key>spriteSourceSize</key>
                <string>{190,68}</string>
                <key>textureRect</key>
                <string>{{1252,298},{190,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-text-bg-select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1680,361},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-text-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1680,391},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-top-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,140}</string>
                <key>spriteSourceSize</key>
                <string>{1280,140}</string>
                <key>textureRect</key>
                <string>{{2,2},{1280,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-vip-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,10}</string>
                <key>spriteSourceSize</key>
                <string>{180,16}</string>
                <key>textureRect</key>
                <string>{{666,216},{180,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-avt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1538,2},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-chat-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{1256,170},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-gold-icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{538,333},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-gold-icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{472,405},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-gold-icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{848,204},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-room-select-cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{924,144},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby-send-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{1256,195},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login-okBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,60}</string>
                <key>spriteSourceSize</key>
                <string>{380,60}</string>
                <key>textureRect</key>
                <string>{{1062,234},{380,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login-playBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{146,58}</string>
                <key>spriteSourceSize</key>
                <string>{188,60}</string>
                <key>textureRect</key>
                <string>{{196,328},{146,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signup-okBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,60}</string>
                <key>spriteSourceSize</key>
                <string>{380,60}</string>
                <key>textureRect</key>
                <string>{{2,204},{380,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1714,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0696095cf2ff5ca43ab413d91137964:78e07f626401af1842859148de9fc721:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
