<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{698,386}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{698,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-139}</string>
                <key>spriteSize</key>
                <string>{298,68}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{317,465},{298,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-138}</string>
                <key>spriteSize</key>
                <string>{312,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{701,231},{312,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-137}</string>
                <key>spriteSize</key>
                <string>{314,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,465},{314,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-138}</string>
                <key>spriteSize</key>
                <string>{306,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{701,307},{306,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-138}</string>
                <key>spriteSize</key>
                <string>{320,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{325,389},{320,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-138}</string>
                <key>spriteSize</key>
                <string>{320,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{647,459},{320,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-138}</string>
                <key>spriteSize</key>
                <string>{316,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{701,155},{316,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-138}</string>
                <key>spriteSize</key>
                <string>{318,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{701,79},{318,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-138}</string>
                <key>spriteSize</key>
                <string>{322,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,389},{322,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-137}</string>
                <key>spriteSize</key>
                <string>{304,76}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{701,1},{304,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-138}</string>
                <key>spriteSize</key>
                <string>{304,74}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{701,383},{304,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1020,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:125f4e9172ef15b02513472cad7991ea:cccdeb7f24b7a448747674bfb5e10115:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
