<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby-clubs-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,284},{26,26}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,55},{26,26}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-clubs-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,99},{62,64}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,36},{62,64}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-diamonds-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,703},{22,26}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,56},{22,26}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-diamonds-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,533},{56,62}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,38},{56,62}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-hearts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,503},{24,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,59},{24,20}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-hearts-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,605},{60,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,39},{60,58}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-spades-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,787},{24,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,56},{24,26}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-spades-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,541},{60,62}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,38},{60,62}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-start-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,377},{22,22}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,57},{22,22}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-start-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,609},{58,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,39},{58,58}}</string>
                <key>sourceSize</key>
                <string>{338,150}</string>
            </dict>
            <key>lobby-text-input.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,789},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>lobby-title-newMessage.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,329},{218,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,91}}</string>
                <key>sourceSize</key>
                <string>{218,91}</string>
            </dict>
            <key>lobby-title-news.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,202},{194,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,83}}</string>
                <key>sourceSize</key>
                <string>{194,83}</string>
            </dict>
            <key>lobby-title-payment.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{236,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,93}}</string>
                <key>sourceSize</key>
                <string>{236,93}</string>
            </dict>
            <key>lobby-title-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{356,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,95}}</string>
                <key>sourceSize</key>
                <string>{356,95}</string>
            </dict>
            <key>lobby-title-reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,99},{285,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,88}}</string>
                <key>sourceSize</key>
                <string>{285,88}</string>
            </dict>
            <key>news-tab-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,775},{126,26}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,13},{126,26}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>news-tab-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,447},{146,28}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,11},{146,28}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>news-tab-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,785},{152,28}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{152,28}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>news-tab-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,673},{126,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,11},{126,28}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>news-tab-selected-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,599},{162,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{162,62}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>news-tab-selected-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,467},{184,64}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{184,64}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>news-tab-selected-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,401},{188,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{188,64}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>news-tab-selected-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,533},{164,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{164,64}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>payment-card-bit-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,702},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>payment-card-bit-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,189},{226,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,138}}</string>
                <key>sourceSize</key>
                <string>{226,138}</string>
            </dict>
            <key>payment-card-gate-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>payment-card-gate-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,422},{226,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,138}}</string>
                <key>sourceSize</key>
                <string>{226,138}</string>
            </dict>
            <key>payment-card-mobi-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,102},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>payment-card-mobi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,562},{226,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,138}}</string>
                <key>sourceSize</key>
                <string>{226,138}</string>
            </dict>
            <key>payment-card-vcoin-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,517},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>payment-card-vcoin-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,97},{226,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,138}}</string>
                <key>sourceSize</key>
                <string>{226,138}</string>
            </dict>
            <key>payment-card-viettel-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,617},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>payment-card-viettel-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,237},{226,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,138}}</string>
                <key>sourceSize</key>
                <string>{226,138}</string>
            </dict>
            <key>payment-card-vina-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,301},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>payment-card-vina-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,377},{226,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,138}}</string>
                <key>sourceSize</key>
                <string>{226,138}</string>
            </dict>
            <key>payment-inapp-bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,733},{142,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>payment-inapp-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,280}}</string>
                <key>sourceSize</key>
                <string>{208,280}</string>
            </dict>
            <key>payment-inapp-goldicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,329},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>payment-inapp-icon-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{180,180}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{180,180}}</string>
                <key>sourceSize</key>
                <string>{208,280}</string>
            </dict>
            <key>payment-inapp-icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{186,166}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{186,166}}</string>
                <key>sourceSize</key>
                <string>{208,280}</string>
            </dict>
            <key>payment-inapp-icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{184,176}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{184,176}}</string>
                <key>sourceSize</key>
                <string>{208,280}</string>
            </dict>
            <key>payment-tab-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,735},{90,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{90,26}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,735},{102,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{102,28}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,765},{104,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{104,20}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,165},{46,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{46,20}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,189},{86,30}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,28},{86,30}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-selected-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,237},{128,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{128,62}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-selected-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,287},{138,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{138,66}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-selected-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,355},{142,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{142,58}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-selected-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,669},{82,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{82,58}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>payment-tab-selected-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,541},{124,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{124,66}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>rank-tab-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,763},{78,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{78,24}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>rank-tab-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,785},{36,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,34},{36,20}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>rank-tab-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,787},{92,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{92,26}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>rank-tab-selected-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,609},{116,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{116,62}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>rank-tab-selected-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,745},{72,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>rank-tab-selected-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,477},{130,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{130,62}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>reward-tab-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,735},{90,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{90,26}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>reward-tab-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,703},{108,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{108,30}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>reward-tab-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,415},{158,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{158,30}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>reward-tab-selected-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,237},{128,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{128,62}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>reward-tab-selected-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,663},{146,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{146,68}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>reward-tab-selected-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,717},{196,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{196,66}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>sublobby-button-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,789},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sublobby-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,789},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sublobby-cell-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,102},{24,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,78}}</string>
                <key>sourceSize</key>
                <string>{24,78}</string>
            </dict>
            <key>sublobby-tab-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,665},{24,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,78}}</string>
                <key>sourceSize</key>
                <string>{24,82}</string>
            </dict>
            <key>sublobby-tab-selected-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,477},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sublobby-tab-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{320,2}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{320,2}}</string>
                <key>sourceSize</key>
                <string>{338,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{1018,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7215c6fc19ef330426e8336de0972395:8f858ec8b9d0aa542a357222726a8c49:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
