<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>9a5ffecf-5202-4e00-98cc-79aceadbd924.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,667},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>aed8c86c-f298-4429-999e-089ff764613a.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,0},{184,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,20},{184,162}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,512},{200,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,154}}</string>
				<key>sourceSize</key>
				<string>{200,154}</string>
			</dict>

			<key>d6b37546-bd8c-4e74-a884-3be26d117174.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,0},{184,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,20},{184,162}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>lobby-clubs-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,467},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,55},{25,26}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-clubs-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,687},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,36},{62,64}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-diamonds-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,467},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,56},{21,26}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-diamonds-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,752},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,38},{56,62}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-hearts-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,259},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,59},{23,20}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-hearts-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,618},{59,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,40},{59,57}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-spades-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,467},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,56},{23,26}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-spades-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,93},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,39},{59,61}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-start-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,259},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,58},{22,21}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-start-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,26},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,40},{58,57}}</string>
				<key>sourceSize</key>
				<string>{338,150}</string>
			</dict>

			<key>lobby-text-input.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,978},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>lobby-title-newMessage.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,420},{218,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,91}}</string>
				<key>sourceSize</key>
				<string>{218,91}</string>
			</dict>

			<key>lobby-title-news.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,868},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,83}}</string>
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>

			<key>lobby-title-payment.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,187},{236,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,93}}</string>
				<key>sourceSize</key>
				<string>{236,93}</string>
			</dict>

			<key>lobby-title-rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{356,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,95}}</string>
				<key>sourceSize</key>
				<string>{356,95}</string>
			</dict>

			<key>lobby-title-reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{285,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,88}}</string>
				<key>sourceSize</key>
				<string>{285,88}</string>
			</dict>

			<key>news-tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,0},{125,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,14},{125,25}}</string>
				<key>sourceSize</key>
				<string>{236,60}</string>
			</dict>

			<key>news-tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,466},{146,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,12},{146,27}}</string>
				<key>sourceSize</key>
				<string>{236,60}</string>
			</dict>

			<key>news-tab-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,438},{151,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,12},{151,27}}</string>
				<key>sourceSize</key>
				<string>{236,60}</string>
			</dict>

			<key>news-tab-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,67},{126,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,12},{126,27}}</string>
				<key>sourceSize</key>
				<string>{236,60}</string>
			</dict>

			<key>news-tab-selected-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,687},{162,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,6},{162,62}}</string>
				<key>sourceSize</key>
				<string>{236,80}</string>
			</dict>

			<key>news-tab-selected-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,425},{183,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,4},{183,64}}</string>
				<key>sourceSize</key>
				<string>{236,80}</string>
			</dict>

			<key>news-tab-selected-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,952},{188,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,4},{188,64}}</string>
				<key>sourceSize</key>
				<string>{236,80}</string>
			</dict>

			<key>news-tab-selected-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,623},{164,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,4},{164,63}}</string>
				<key>sourceSize</key>
				<string>{236,80}</string>
			</dict>

			<key>payment-card-bit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,524},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,98}}</string>
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>

			<key>payment-card-bit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{226,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,138}}</string>
				<key>sourceSize</key>
				<string>{226,138}</string>
			</dict>

			<key>payment-card-gate-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,326},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,98}}</string>
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>

			<key>payment-card-gate-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,837},{226,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,138}}</string>
				<key>sourceSize</key>
				<string>{226,138}</string>
			</dict>

			<key>payment-card-mobi-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,227},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,98}}</string>
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>

			<key>payment-card-mobi-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,281},{226,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,138}}</string>
				<key>sourceSize</key>
				<string>{226,138}</string>
			</dict>

			<key>payment-card-vcoin-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,952},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,98}}</string>
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>

			<key>payment-card-vcoin-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,698},{226,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,138}}</string>
				<key>sourceSize</key>
				<string>{226,138}</string>
			</dict>

			<key>payment-card-viettel-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,425},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,98}}</string>
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>

			<key>payment-card-viettel-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,559},{226,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,138}}</string>
				<key>sourceSize</key>
				<string>{226,138}</string>
			</dict>

			<key>payment-card-vina-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,67},{186,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,98}}</string>
				<key>sourceSize</key>
				<string>{186,98}</string>
			</dict>

			<key>payment-card-vina-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{226,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,138}}</string>
				<key>sourceSize</key>
				<string>{226,138}</string>
			</dict>

			<key>payment-inapp-bg-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,166},{142,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,40}}</string>
				<key>sourceSize</key>
				<string>{142,40}</string>
			</dict>

			<key>payment-inapp-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,770},{208,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,280}}</string>
				<key>sourceSize</key>
				<string>{208,280}</string>
			</dict>

			<key>payment-inapp-goldicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,187},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{40,32}</string>
			</dict>

			<key>payment-inapp-icon-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,790},{179,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,25},{179,179}}</string>
				<key>sourceSize</key>
				<string>{208,280}</string>
			</dict>

			<key>payment-inapp-icon-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,623},{185,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,28},{185,166}}</string>
				<key>sourceSize</key>
				<string>{208,280}</string>
			</dict>

			<key>payment-inapp-icon-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,166},{184,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,16},{184,176}}</string>
				<key>sourceSize</key>
				<string>{208,280}</string>
			</dict>

			<key>payment-tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,562},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,29},{90,25}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,293},{126,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,18},{126,24}}</string>
				<key>sourceSize</key>
				<string>{164,61}</string>
			</dict>

			<key>payment-tab-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,230},{102,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,30},{102,28}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,932},{104,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,35},{104,19}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,932},{46,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,35},{46,19}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,588},{86,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,29},{86,29}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-selected-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,0},{127,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,11},{127,62}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-selected-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,970},{164,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,61}}</string>
				<key>sourceSize</key>
				<string>{164,61}</string>
			</dict>

			<key>payment-tab-selected-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,163},{138,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,11},{138,66}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-selected-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,562},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,15},{141,58}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-selected-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,494},{82,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,16},{82,57}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>payment-tab-selected-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,26},{123,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,11},{123,66}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>rank-tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,318},{78,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,35},{78,23}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>rank-tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1040},{35,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,35},{35,19}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>rank-tab-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,259},{92,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,29},{92,25}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>rank-tab-selected-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,93},{115,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,16},{115,61}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>rank-tab-selected-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,376},{72,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,16},{72,57}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>rank-tab-selected-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,230},{130,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,11},{130,62}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>reward-card-mobi.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,512},{208,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,128}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-card-viettel.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,641},{208,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,128}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-card-vina.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,98},{208,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,128}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-gold-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,324},{64,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,44}}</string>
				<key>sourceSize</key>
				<string>{64,44}</string>
			</dict>

			<key>reward-item-bg-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,976},{205,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,2},{205,1}}</string>
				<key>sourceSize</key>
				<string>{248,5}</string>
			</dict>

			<key>reward-mobi-100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,343},{169,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,80},{169,32}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-mobi-200k.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1017},{170,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,81},{170,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-mobi-500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,227},{170,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,81},{170,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-mobi-50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1032},{154,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,81},{154,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-success-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,970},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>

			<key>reward-tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,562},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,29},{90,25}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>reward-tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,293},{108,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,28},{108,30}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>reward-tab-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1040},{162,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,30},{162,24}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>reward-tab-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,438},{66,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,30},{66,28}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>reward-tab-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,376},{158,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,29},{158,29}}</string>
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>

			<key>reward-tab-selected-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,0},{127,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,11},{127,62}}</string>
				<key>sourceSize</key>
				<string>{220,90}</string>
			</dict>

			<key>reward-tab-selected-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,494},{145,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,10},{145,67}}</string>
				<key>sourceSize</key>
				<string>{220,90}</string>
			</dict>

			<key>reward-tab-selected-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{199,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,12},{199,61}}</string>
				<key>sourceSize</key>
				<string>{220,90}</string>
			</dict>

			<key>reward-tab-selected-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,155},{101,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,11},{101,66}}</string>
				<key>sourceSize</key>
				<string>{220,90}</string>
			</dict>

			<key>reward-tab-selected-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{196,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,11},{196,66}}</string>
				<key>sourceSize</key>
				<string>{220,90}</string>
			</dict>

			<key>reward-viettel-100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,343},{169,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,80},{169,32}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-viettel-200k.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,900},{170,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,81},{170,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-viettel-500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,790},{170,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,81},{170,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-viettel-50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,750},{154,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,81},{154,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-vina-100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,376},{169,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,80},{169,32}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-vina-200k.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,868},{170,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,81},{170,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-vina-500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,822},{170,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,81},{170,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>reward-vina-50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,406},{154,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,81},{154,31}}</string>
				<key>sourceSize</key>
				<string>{208,128}</string>
			</dict>

			<key>sublobby-button-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1040},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>sublobby-button.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,318},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>sublobby-cell-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,815},{24,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,78}}</string>
				<key>sourceSize</key>
				<string>{24,78}</string>
			</dict>

			<key>sublobby-tab-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,815},{24,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,78}}</string>
				<key>sourceSize</key>
				<string>{24,82}</string>
			</dict>

			<key>sublobby-tab-selected-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1003},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>sublobby-tab-selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{319,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{319,1}}</string>
				<key>sourceSize</key>
				<string>{338,82}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1067,1065}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>