<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minipoker_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,678}</string>
                <key>spriteSourceSize</key>
                <string>{1001,678}</string>
                <key>textureRect</key>
                <string>{{1,1},{1001,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minipoker_huthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,26}</string>
                <key>spriteSourceSize</key>
                <string>{95,26}</string>
                <key>textureRect</key>
                <string>{{1004,473},{95,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_cards_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,197}</string>
                <key>spriteSourceSize</key>
                <string>{199,197}</string>
                <key>textureRect</key>
                <string>{{1452,406},{199,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quaytudong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{208,45}</string>
                <key>spriteSourceSize</key>
                <string>{236,65}</string>
                <key>textureRect</key>
                <string>{{1242,406},{208,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quaytudong_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,65}</string>
                <key>spriteSourceSize</key>
                <string>{236,65}</string>
                <key>textureRect</key>
                <string>{{1004,406},{236,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{1004,528},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1004,501},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,403}</string>
                <key>spriteSourceSize</key>
                <string>{860,403}</string>
                <key>textureRect</key>
                <string>{{1004,1},{860,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MiniPoker.png</string>
            <key>size</key>
            <string>{1865,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:933645b5fda70dc536202e4085f35b73:c7114ca33b02ec247260b36b44c3b1f0:d990f13b2a1691f7864a053834297b87$</string>
            <key>textureFileName</key>
            <string>MiniPoker.png</string>
        </dict>
    </dict>
</plist>
