<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_trong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,16}</string>
                <key>spriteSourceSize</key>
                <string>{460,16}</string>
                <key>textureRect</key>
                <string>{{1,425},{454,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk-slider-ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{633,377},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Raise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{1,563},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{183,563},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_bg_betting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,691}</string>
                <key>spriteSourceSize</key>
                <string>{240,691}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,691}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_bg_caveChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,50}</string>
                <key>spriteSourceSize</key>
                <string>{162,50}</string>
                <key>textureRect</key>
                <string>{{493,325},{162,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_bg_countDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,80}</string>
                <key>spriteSourceSize</key>
                <string>{649,80}</string>
                <key>textureRect</key>
                <string>{{1,243},{649,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_bg_nameHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{930,458},{36,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_bg_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{191,513},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_bg_slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,24}</string>
                <key>spriteSourceSize</key>
                <string>{460,24}</string>
                <key>textureRect</key>
                <string>{{1,345},{460,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_bg_slider_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,426}</string>
                <key>spriteSourceSize</key>
                <string>{60,460}</string>
                <key>textureRect</key>
                <string>{{1,371},{52,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_bg_totalBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,46}</string>
                <key>spriteSourceSize</key>
                <string>{188,46}</string>
                <key>textureRect</key>
                <string>{{1,513},{188,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_bg_txtbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{909,577},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_bg_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,227}</string>
                <key>spriteSourceSize</key>
                <string>{229,227}</string>
                <key>textureRect</key>
                <string>{{694,1},{229,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_Bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{457,377},{64,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_btn_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{545,377},{64,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_btn_call.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{838,230},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{730,334},{64,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_btn_conFirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{838,318},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{574,443},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_fold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{678,443},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_raise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{744,400},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_sitdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{904,243},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{68,30}</string>
                <key>textureRect</key>
                <string>{{678,531},{68,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_btn_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{734,230},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_call.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{365,563},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_cardMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{699,400},{37,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_cave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,163}</string>
                <key>spriteSourceSize</key>
                <string>{118,163}</string>
                <key>textureRect</key>
                <string>{{409,443},{118,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_cave_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,164}</string>
                <key>spriteSourceSize</key>
                <string>{118,164}</string>
                <key>textureRect</key>
                <string>{{243,443},{118,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{547,563},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_chip_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{858,392},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_heart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{858,432},{39,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_heart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{954,408},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_heart3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{815,473},{69,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_icon_bigBlind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{930,496},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_icon_dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{930,528},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_icon_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{871,577},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_icon_smallBlind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{964,457},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{878,473},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{815,544},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_numBuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{898,402},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_pg_slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,18}</string>
                <key>spriteSourceSize</key>
                <string>{490,18}</string>
                <key>textureRect</key>
                <string>{{1,325},{490,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{878,525},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_s_Call_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{904,335},{65,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_s_call.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{748,488},{65,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_s_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{52,73}</string>
                <key>textureRect</key>
                <string>{{657,325},{50,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_s_check_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{52,73}</string>
                <key>textureRect</key>
                <string>{{729,563},{50,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pk_s_fold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{48,73}</string>
                <key>textureRect</key>
                <string>{{977,335},{46,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_s_foldCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,71}</string>
                <key>spriteSourceSize</key>
                <string>{100,73}</string>
                <key>textureRect</key>
                <string>{{925,1},{98,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_s_foldCheck_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,71}</string>
                <key>spriteSourceSize</key>
                <string>{100,73}</string>
                <key>textureRect</key>
                <string>{{925,74},{98,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_s_fold_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{48,73}</string>
                <key>textureRect</key>
                <string>{{810,400},{46,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_standup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{925,147},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_standup_ac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{652,243},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_xeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{463,345},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tg_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,68}</string>
                <key>spriteSourceSize</key>
                <string>{240,68}</string>
                <key>textureRect</key>
                <string>{{1,443},{240,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokerGame.png</string>
            <key>size</key>
            <string>{1024,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4c3fe052d22fd53c873dc57e7dacb24:e0fc9f088e7ade8e33e68a41f80bc9ac:df2fb96ed3e74b791d8abc663b8787fd$</string>
            <key>textureFileName</key>
            <string>pokerGame.png</string>
        </dict>
    </dict>
</plist>
