<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bonus12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{2011,133},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_card_trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{893,989},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{963,904},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1065,904},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gp_card_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,115}</string>
                <key>spriteSourceSize</key>
                <string>{87,115}</string>
                <key>textureRect</key>
                <string>{{1927,197},{87,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1167,893},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1616,688},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1718,688},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1769,790},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1857,774},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1857,862},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1718,928},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1933,534},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_freeSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{1218,731},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_hom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,385}</string>
                <key>spriteSourceSize</key>
                <string>{389,385}</string>
                <key>textureRect</key>
                <string>{{976,1},{389,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,51}</string>
                <key>spriteSourceSize</key>
                <string>{28,51}</string>
                <key>textureRect</key>
                <string>{{2015,314},{28,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,127}</string>
                <key>spriteSourceSize</key>
                <string>{137,127}</string>
                <key>textureRect</key>
                <string>{{1667,430},{137,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_number1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{407,969},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1971,619},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1806,430},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1695,198},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_bgtotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{976,750},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_hom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{1370,517},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_hom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{1273,864},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_hom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{453,903},{117,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{1595,798},{85,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{453,903},{117,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{1682,790},{85,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1910,667},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnRotate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1218,388},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1364,866},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_his.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{60,83}</string>
                <key>textureRect</key>
                <string>{{1971,534},{60,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_nt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1524,398},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_nt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{1666,559},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_row.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1370,669},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1523,541},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1130,750},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{893,903},{68,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnx2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1907,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_cardup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{150,198}</string>
                <key>textureRect</key>
                <string>{{1218,531},{150,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1662,892},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,112}</string>
                <key>textureRect</key>
                <string>{{1497,684},{117,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{104,117}</string>
                <key>textureRect</key>
                <string>{{682,903},{104,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,117}</string>
                <key>spriteSourceSize</key>
                <string>{103,117}</string>
                <key>textureRect</key>
                <string>{{788,903},{103,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,131}</string>
                <key>spriteSourceSize</key>
                <string>{95,131}</string>
                <key>textureRect</key>
                <string>{{1273,731},{95,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{1820,669},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{572,903},{108,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,97}</string>
                <key>textureRect</key>
                <string>{{1492,798},{101,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1564,950},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1641,950},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_hdc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,360}</string>
                <key>spriteSourceSize</key>
                <string>{240,360}</string>
                <key>textureRect</key>
                <string>{{976,388},{240,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_hom_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{973,900}</string>
                <key>spriteSourceSize</key>
                <string>{973,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{973,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_nohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,198}</string>
                <key>spriteSourceSize</key>
                <string>{326,198}</string>
                <key>textureRect</key>
                <string>{{1367,198},{326,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1167,995},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{309,969},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1907,133},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1462,961},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1462,897},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1945,893},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1945,765},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1,969},{102,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{105,969},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{207,969},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{105,969},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1167,995},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1945,829},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1167,995},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1682,884},{96,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1564,897},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1804,950},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1908,955},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1269,964},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1564,897},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1370,796},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_bg_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1667,398},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_title_trial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,117}</string>
                <key>spriteSourceSize</key>
                <string>{161,117}</string>
                <key>textureRect</key>
                <string>{{1361,398},{161,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_winbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,195}</string>
                <key>spriteSourceSize</key>
                <string>{538,195}</string>
                <key>textureRect</key>
                <string>{{1367,1},{538,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1462,866},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_btn_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,64}</string>
                <key>spriteSourceSize</key>
                <string>{224,64}</string>
                <key>textureRect</key>
                <string>{{1,903},{224,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_btn_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,64}</string>
                <key>spriteSourceSize</key>
                <string>{224,64}</string>
                <key>textureRect</key>
                <string>{{227,903},{224,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1927,314},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1933,424},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1795,559},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1883,557},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotFruit.png</string>
            <key>size</key>
            <string>{2044,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44e9a2b63eb5192c8773865b78cdab84:61cd8ed7a84090a88d86a2c66975816c:4e14bfc85af6432bb8ce6bdd0605bded$</string>
            <key>textureFileName</key>
            <string>SlotFruit.png</string>
        </dict>
    </dict>
</plist>
