<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bonus12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1674,1035},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_card_trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1643,727},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1933,514},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1643,625},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gp_card_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,115}</string>
                <key>spriteSourceSize</key>
                <string>{87,115}</string>
                <key>textureRect</key>
                <string>{{1427,761},{87,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1785,641},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1783,743},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1781,845},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1949,616},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1949,704},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1949,792},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1515,971},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{2011,140},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_freeSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{1675,727},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_hom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,385}</string>
                <key>spriteSourceSize</key>
                <string>{389,385}</string>
                <key>textureRect</key>
                <string>{{976,1},{389,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{899,1000},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_bg_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,127}</string>
                <key>spriteSourceSize</key>
                <string>{137,127}</string>
                <key>textureRect</key>
                <string>{{1907,1},{137,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_bg_number1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1586,599},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1870,1009},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{645,903},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,239}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{1695,198},{239,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_bgtotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1936,280},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_hom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{1443,398},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_hom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{1692,727},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_hom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{1695,439},{117,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{1947,880},{85,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,96}</string>
                <key>textureRect</key>
                <string>{{1695,439},{117,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bonus_item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{1682,906},{85,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_btnAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1692,817},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnRotate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1291,598},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1596,501},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_his.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{1936,376},{74,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_btn_nt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1284,741},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_nt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,301}</string>
                <key>spriteSourceSize</key>
                <string>{313,301}</string>
                <key>textureRect</key>
                <string>{{976,388},{313,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_row.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{772,903},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{227,903},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{370,903},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{899,903},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnx2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{513,903},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_cardup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{150,198}</string>
                <key>textureRect</key>
                <string>{{1291,398},{150,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_chambi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1936,182},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1586,636},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,112}</string>
                <key>textureRect</key>
                <string>{{1814,439},{117,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{104,117}</string>
                <key>textureRect</key>
                <string>{{1443,550},{104,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_fruit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,117}</string>
                <key>spriteSourceSize</key>
                <string>{103,117}</string>
                <key>textureRect</key>
                <string>{{1434,656},{103,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_fruit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,131}</string>
                <key>spriteSourceSize</key>
                <string>{95,131}</string>
                <key>textureRect</key>
                <string>{{1218,917},{95,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{1553,656},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{1315,884},{108,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,97}</string>
                <key>textureRect</key>
                <string>{{1596,398},{101,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_fruit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1597,971},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1907,974},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_hdc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,360}</string>
                <key>spriteSourceSize</key>
                <string>{240,360}</string>
                <key>textureRect</key>
                <string>{{976,691},{240,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_hom_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{973,900}</string>
                <key>spriteSourceSize</key>
                <string>{973,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{973,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_nohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,198}</string>
                <key>spriteSourceSize</key>
                <string>{326,198}</string>
                <key>textureRect</key>
                <string>{{1367,198},{326,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1562,550},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1674,993},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{123,969},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1887,641},{100,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1885,743},{100,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1425,884},{98,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1883,845},{98,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1907,140},{102,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1315,1006},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1745,625},{100,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1315,1006},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1562,550},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1618,871},{98,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1562,550},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1417,1009},{96,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1772,1009},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1933,452},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1516,871},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1776,947},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1772,1009},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1,969},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_bg_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1284,884},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_winbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,195}</string>
                <key>spriteSourceSize</key>
                <string>{538,195}</string>
                <key>textureRect</key>
                <string>{{1367,1},{538,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{947,1000},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_btn_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,64}</string>
                <key>spriteSourceSize</key>
                <string>{224,64}</string>
                <key>textureRect</key>
                <string>{{1,903},{224,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_btn_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,64}</string>
                <key>spriteSourceSize</key>
                <string>{224,64}</string>
                <key>textureRect</key>
                <string>{{1218,691},{224,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_x2_x4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1694,537},{86,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_x2_x4c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1804,553},{86,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_x2_x4r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1516,761},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1604,761},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotFruit.png</string>
            <key>size</key>
            <string>{2036,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0877c4dbda7844dcf36b827413c330:ce0ca1be8bebb96404a26f0678292b50:feede2298659d6e0c938107a6e3f0d82$</string>
            <key>textureFileName</key>
            <string>SlotFruit.png</string>
        </dict>
    </dict>
</plist>
