<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btnNhanthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{218,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,65}}</string>
				<key>sourceSize</key>
				<string>{218,65}</string>
			</dict>

			<key>minipoker_huthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{95,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,26}}</string>
				<key>sourceSize</key>
				<string>{95,26}</string>
			</dict>

			<key>poker_cards_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,404},{199,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,197}}</string>
				<key>sourceSize</key>
				<string>{199,197}</string>
			</dict>

			<key>quayBtmParticle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,660},{240,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,9}}</string>
				<key>sourceSize</key>
				<string>{240,9}</string>
			</dict>

			<key>quayBtmParticle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{240,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,9}}</string>
				<key>sourceSize</key>
				<string>{240,9}</string>
			</dict>

			<key>quayTopParticle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{208,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,9}}</string>
				<key>sourceSize</key>
				<string>{208,9}</string>
			</dict>

			<key>quayTopParticle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{208,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,9}}</string>
				<key>sourceSize</key>
				<string>{208,9}</string>
			</dict>

			<key>rewardIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,837},{21,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,22}}</string>
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>

			<key>reward_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,810},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>reward_bg_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,790},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>

			<key>roll_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{860,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{860,403}}</string>
				<key>sourceSize</key>
				<string>{860,403}</string>
			</dict>

			<key>videoQuayBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{269,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,105}}</string>
				<key>sourceSize</key>
				<string>{269,105}</string>
			</dict>

			<key>videoX2Btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{269,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,105}}</string>
				<key>sourceSize</key>
				<string>{269,105}</string>
			</dict>

			<key>videopoker_hold.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,404},{212,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,286}}</string>
				<key>sourceSize</key>
				<string>{212,286}</string>
			</dict>

			<key>x2BtmParticle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{250,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,21}}</string>
				<key>sourceSize</key>
				<string>{250,21}</string>
			</dict>

			<key>x2BtmParticle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,638},{250,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,21}}</string>
				<key>sourceSize</key>
				<string>{250,21}</string>
			</dict>

			<key>x2TopParticle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{218,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,21}}</string>
				<key>sourceSize</key>
				<string>{218,21}</string>
			</dict>

			<key>x2TopParticle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{218,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,21}}</string>
				<key>sourceSize</key>
				<string>{218,21}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{861,860}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>