<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_vongquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{143,7}</string>
                <key>spriteSize</key>
                <string>{605,457}</string>
                <key>spriteSourceSize</key>
                <string>{891,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{605,457}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vongquay_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{460,1},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{396,1113},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_bt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{396,1217},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,277}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1,1113},{277,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{503,497}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{1,608},{503,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_icon_xh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{337,1671},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{280,1113},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{280,1229},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{280,1345},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,169}</string>
                <key>spriteSize</key>
                <string>{105,81}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{391,1650},{105,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,148}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{1,1392},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,92}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{112,1499},{105,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,149}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{280,1461},{109,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-149,92}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{391,1539},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-167,1}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{396,1321},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,-91}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{1,1501},{105,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-149}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{280,1566},{109,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-168}</string>
                <key>spriteSize</key>
                <string>{105,79}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{1,1608},{105,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-148}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{112,1392},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,-91}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{112,1606},{103,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,1}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{503,503}</string>
                <key>textureRect</key>
                <string>{{396,1430},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,1}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{223,1392},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,64}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{223,1510},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,91}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{223,1567},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,64}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{223,1624},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,1}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{223,1451},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-63}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{280,1671},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-90}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{223,1681},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-63}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1,1689},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>VongQuay.png</string>
            <key>size</key>
            <string>{499,1745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5936be2651cd4a2066176a34ef06f529:6a7a090cb2c0906f8bbbde739a39ef93:c7c428e337cdad636929a669e1e154d4$</string>
            <key>textureFileName</key>
            <string>VongQuay.png</string>
        </dict>
    </dict>
</plist>
