<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_vongquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,19}</string>
                <key>spriteSize</key>
                <string>{567,433}</string>
                <key>spriteSourceSize</key>
                <string>{891,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{567,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{1536,439},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1039,389},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,277}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1039,1},{277,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,467}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{570,1},{467,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1318,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1318,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1318,233},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,169}</string>
                <key>spriteSize</key>
                <string>{105,81}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1539,110},{105,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,148}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1039,280},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,90}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1150,280},{105,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,149}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1434,223},{109,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,90}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1434,1},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-168,1}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1143,391},{81,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-89}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1425,349},{105,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-148}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1536,328},{109,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-168}</string>
                <key>spriteSize</key>
                <string>{105,79}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1545,217},{105,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,-147}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1314,349},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-89}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1434,112},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,1}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1539,1},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,1}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1257,280},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,64}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1252,398},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,91}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1,436},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,64}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{58,436},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,1}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1257,339},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-63}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{115,436},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-90}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{172,436},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-63}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{229,436},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>VongQuay.png</string>
            <key>size</key>
            <string>{1642,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfb730ec318dd1df323864b92ce0c0a5:d2a513fd298b2b71fa9ebf403b71e6ee:b40d97ae94d1256e13d11d4639450a55$</string>
            <key>textureFileName</key>
            <string>VongQuay.png</string>
        </dict>
    </dict>
</plist>
