<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_vongquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{144,6}</string>
                <key>spriteSize</key>
                <string>{603,457}</string>
                <key>spriteSourceSize</key>
                <string>{891,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{603,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{833,1},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{720,850},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,277}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{508,460},{277,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vongquay_to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{505,505}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{1,460},{505,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{606,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{508,739},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_mua3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{606,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,169}</string>
                <key>spriteSize</key>
                <string>{105,81}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{787,433},{105,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,148}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{722,1},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,90}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{508,855},{105,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,149}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{722,110},{109,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,90}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{606,340},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-168,1}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{787,215},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-89}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{624,739},{105,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-148}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{615,855},{109,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-168}</string>
                <key>spriteSize</key>
                <string>{105,79}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{787,540},{105,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vq_to7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,-147}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{606,233},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-89}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{731,739},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq_to9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,1}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{531,531}</string>
                <key>textureRect</key>
                <string>{{787,324},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,1}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{508,966},{55,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vqnho_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,64}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{626,966},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,91}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{683,966},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,64}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{787,647},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,1}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{567,966},{55,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vqnho_n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-63}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{740,954},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-90}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{797,954},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vqnho_n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-63}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{722,215},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>VongQuay.png</string>
            <key>size</key>
            <string>{869,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38ea6c661119564fd5f1ceb8d9458dc8:9def89d906d0bab0af63aeac9085a7b5:b40d97ae94d1256e13d11d4639450a55$</string>
            <key>textureFileName</key>
            <string>VongQuay.png</string>
        </dict>
    </dict>
</plist>
