<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xocdia-chip-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{628,547},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{628,691},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{772,531},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{772,675},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{772,819},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{916,495},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{916,639},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{916,783},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,409}</string>
                <key>spriteSourceSize</key>
                <string>{485,485}</string>
                <key>textureRect</key>
                <string>{{1,488},{403,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_batlaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,68}</string>
                <key>textureRect</key>
                <string>{{406,887},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,485}</string>
                <key>spriteSourceSize</key>
                <string>{485,485}</string>
                <key>textureRect</key>
                <string>{{1,1},{485,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_hat_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{55,48}</string>
                <key>textureRect</key>
                <string>{{406,488},{55,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_hat_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{1,899},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{810,341},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{864,495},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{710,531},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{916,927},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{38,113}</string>
                <key>spriteSourceSize</key>
                <string>{52,145}</string>
                <key>textureRect</key>
                <string>{{1018,341},{38,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_huyCuocButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,68}</string>
                <key>textureRect</key>
                <string>{{588,887},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,186}</string>
                <key>textureRect</key>
                <string>{{488,1},{320,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,186}</string>
                <key>textureRect</key>
                <string>{{488,189},{320,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{810,1},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{810,171},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{488,377},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{406,547},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{406,717},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_timer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{710,377},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_timer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{864,341},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XocDia.png</string>
            <key>size</key>
            <string>{1059,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db03d4386784dadd92137ab091b8bb86:5376a34162c9791861501af2ff13d8a6:908ca8c41d1fcd7f42669b7c8edbc83f$</string>
            <key>textureFileName</key>
            <string>XocDia.png</string>
        </dict>
    </dict>
</plist>
