<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xocdia-chip-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{445,511},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1,547},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{145,547},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{289,547},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{589,511},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{667,309},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{699,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{699,145},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{323,341},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{357,341},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{391,341},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{405,341},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{38,113}</string>
                <key>spriteSourceSize</key>
                <string>{52,145}</string>
                <key>textureRect</key>
                <string>{{733,453},{38,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,186}</string>
                <key>textureRect</key>
                <string>{{1,189},{320,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{1,377},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{223,377},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{323,1},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{323,171},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{445,341},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_timer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{545,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_timer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{545,155},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XocDia.png</string>
            <key>size</key>
            <string>{842,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77567d78dac4f9347cae96e7d9f0ed52:372a867ef723089e26fa3529e6603da6:908ca8c41d1fcd7f42669b7c8edbc83f$</string>
            <key>textureFileName</key>
            <string>XocDia.png</string>
        </dict>
    </dict>
</plist>
