<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taixiu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1236,444}</string>
                <key>spriteSourceSize</key>
                <string>{1236,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{1236,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taixiu_dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{673,788},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{673,875},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{671,962},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{654,1049},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{652,1136},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{508,1184},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_history_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{621,1101},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_history_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{621,1132},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_history_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{621,1163},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_history_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{576,1300},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_history_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{576,1331},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_dice_history_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{693,1309},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_history_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{595,1266},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_winSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{490,1667},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{631,1223},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{490,1271},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{607,1309},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chip-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{490,1357},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{760,811},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{760,943},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{741,1075},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia-chipSelected-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{739,1207},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,409}</string>
                <key>spriteSourceSize</key>
                <string>{485,485}</string>
                <key>textureRect</key>
                <string>{{449,1},{403,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_batlaiBt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{773,632},{175,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,485}</string>
                <key>spriteSourceSize</key>
                <string>{485,485}</string>
                <key>textureRect</key>
                <string>{{1,1241},{485,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_hat_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{55,48}</string>
                <key>textureRect</key>
                <string>{{449,1184},{55,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_hat_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{621,960},{53,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_history_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{595,1194},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{595,1230},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{862,29},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{862,45},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_history_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,80}</string>
                <key>spriteSourceSize</key>
                <string>{29,80}</string>
                <key>textureRect</key>
                <string>{{621,1017},{29,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_huyCuocButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{827,632},{175,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_result_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{862,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_result_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,2}</string>
                <key>spriteSourceSize</key>
                <string>{12,2}</string>
                <key>textureRect</key>
                <string>{{1,1730},{12,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,186}</string>
                <key>textureRect</key>
                <string>{{449,408},{320,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,186}</string>
                <key>textureRect</key>
                <string>{{449,598},{320,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{449,788},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_slot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{449,960},{220,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_slot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{693,1340},{220,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_slot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{490,1443},{220,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xocdia_slot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,168}</string>
                <key>spriteSourceSize</key>
                <string>{220,168}</string>
                <key>textureRect</key>
                <string>{{662,1564},{220,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_timer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{773,408},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xocdia_timer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{773,520},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XocDia.png</string>
            <key>size</key>
            <string>{889,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2eec83b9f9707d73b45273b138e1f67:be5bc060ba743b3d2c1962affee21145:908ca8c41d1fcd7f42669b7c8edbc83f$</string>
            <key>textureFileName</key>
            <string>XocDia.png</string>
        </dict>
    </dict>
</plist>
